@import url(https://db.onlinewebfonts.com/c/cc5ff80d2d1b0b7c077eefae61d02261?family=Value+Serif+Pro+Regular);
@import url(https://db.onlinewebfonts.com/c/a575313c6dc4fd00c1a9506e1c3ea4fc?family=Euclid+Circular+A);

* {
  margin: 0;
}

.navbar {
  height: 4.4rem;
  width: 100%;
  background-color: red;
  margin-bottom: 4rem;
}

.welcome-box {
  text-align: center;
  /* margin-top: ; */
  font-family: "Value Serif Pro Regular";
  color: #001e2b;
  font-size: 2rem;
}

/* Add additional styles as needed */
